customtkinter
pandas
numpy
 # Use 'pickle5' only if Python version is < 3.8, otherwise no need to install.
mediapipe
opencv-python  # For cv2
Pillow  # For Image and ImageTk from PIL

# tensorflow
# keras
# jupyter
# jupyter notebook
# tqdm
# opencv-contrib-python